@use "../../scss/variables.scss";
.best-gear {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.best-gear__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  p {
    color: rgba($color: #000000, $alpha: 0.6);
  }

  flex: 1;
  padding: 10% 5%;

  .highlight {
    color: variables.$primary;
  }
}

.best-gear__right {
  border-radius: 1rem;
}

@media (max-width: 1024px) {
  .best-gear {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .best-gear__left,
  .best-gear__right {
    width: 100%;
  }
  .best-gear__right {
    order: -1;
  }
}
