@use "../../scss/variables.scss";
.best-gear {
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-gear__left {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 50%;
  flex: 1;
  padding: 10% 5%;

  .highlight {
    color: variables.$primary;
  }
}

.best-gear__right {
  width: 50%;
  border-radius: 1rem;
}

@media (max-width: 1024px) {
  .best-gear {
    flex-direction: column;
    text-align: center;
  }
  .best-gear__left,
  .best-gear__right {
    width: 100%;
  }
  .best-gear__right {
    order: -1;
  }
}
