@use "../../scss/variables.scss";

.hero-section {
  width: 100%;
  margin-top: 0;
}

.hero__wrapper {
  background-image: url("../../../assets/home/mobile/image-header.jpg");

  @media (min-width: 768px) {
    background-image: url("../../../assets/home/tablet/image-header.jpg");
  }
  @media (min-width: 1024px) {
    background-image: url("../../../assets/home/desktop/image-hero.jpg");
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: start;
}

.hero {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
  gap: 25px;
  padding-inline: 10%;

  .overline {
    color: #ffffff79;
  }
}

@media (max-width: 1024px) {
  .hero__wrapper {
    justify-content: center;
  }
  .hero {
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .hero__description {
    padding-inline: 5%;
  }
}

@media (max-width: 510px) {
  .hero {
    width: 100%;
  }
  h1 {
    font-size: 38px;
  }
}

.products-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.product-preveiw {
  border-radius: 1rem;
  width: 100%;
  overflow: hidden;
}

picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-preview__big {
  color: white;
  background-color: variables.$primary;
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-left: 15%;
  gap: 25px;
  picture {
    max-width: 50%;
    padding-top: 20%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.product-preview__big__right {
  width: 50%;
  padding-left: 0%;
  padding-block: 5%;
  display: flex;
  gap: 35px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

@media (max-width: 1024px) {
  .product-preview__big {
    gap: 10px;
    padding-inline: 5%;
  }
}
@media (max-width: 768px) {
  .product-preview__big {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-inline: 0;
    padding-block: 10%;

    picture {
      padding-top: 0;
      height: 50%;
    }
  }

  .product-preview__big__right {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-left: 5%;
  }
}

.product-preveiw__medium {
  position: relative;
  display: flex;
  flex-direction: column;

  .product-preview__medium__content {
    position: absolute;
    inset: 0;
    left: 10%;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 50px;
  }
}

.product-preview__small {
  display: flex;
  gap: 20px;

  @media (max-width: 768px) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    .product-preview__small__left,
    .product-preview__small__right {
      width: auto;
    }
  }
}

.product-preview__small__left {
  width: 50%;
  border-radius: 1rem;
  overflow: hidden;
}

.product-preview__small__right {
  background-color: variables.$gray;
  width: 50%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
  padding-inline: 7%;
}
