@use "../../scss/variables.scss";

.hero-section {
  width: 100vw;
}

.hero__wrapper {
  background-image: url("../../../assets/home/mobile/image-header.jpg");

  @media (min-width: 768px) {
    background-image: url("../../../assets/home/tablet/image-header.jpg");
  }
  @media (min-width: 1024px) {
    background-image: url("../../../assets/home/desktop/image-hero.jpg");
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: start;
}

.hero {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
  gap: 25px;
  padding-inline: 10%;

  .overline {
    color: #ffffff79;
  }
}

@media (max-width: 1024px) {
  .hero__wrapper {
    justify-content: center;
  }
  .hero {
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .hero__description {
    padding-inline: 5%;
  }
}

@media (max-width: 510px) {
  .hero {
    width: 100%;
  }
  h1 {
    font-size: 38px;
  }
}

.products-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  & > div {
    border-radius: 1rem;
    max-height: 80vh;
    width: 100%;
  }
}

.product-preview__big {
  color: white;
  background-color: variables.$primary;
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-left: 15%;
  gap: 50px;
  img {
    max-width: 50%;
    padding-top: 20%;
  }
}

.product-preview__big__right {
  width: 50%;
  padding-left: 0%;
  padding-block: 5%;
  display: flex;
  gap: 35px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

@media (max-width: 1024px) {
  .product-preview__big {
    gap: 10px;
    padding-inline: 5%;
  }
}
@media (max-width: 768px) {
  .product-preview__big {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-inline: 0;
    padding-block: 10%;

    img {
      padding-top: 0;
      height: 50%;
    }
  }

  .product-preview__big__right {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-left: 5%;
  }
}

.product-preveiw__medium {
  aspect-ratio: 2.5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 10%;
  h2 {
    padding-right: 50%;
  }

  @media (max-width: 768px) {
    padding-inline: 25px;
  }

  @media (max-width: 768px) {
    aspect-ratio: 1;
  }
}

.product-preview__small {
  aspect-ratio: 2.5;

  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 16px;

  & > div {
    border-radius: 1rem;
    height: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    aspect-ratio: 1;
    & > div {
      width: 100%;
      height: 50%;
    }
  }
}

.product-preview__small__left {
  aspect-ratio: 2.5;
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-preview__small__right {
  width: 50%;
  background-color: variables.$gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 10% 5%;
}
