main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

section {
  margin-bottom: 100px;
  width: 80vw;
}

@media (max-width: 768px) {
  section {
    width: 95vw;
  }
}
