main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

section {
  margin-bottom: 50px;
  width: 80vw;

  &:first-of-type {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  section {
    width: 95vw;
  }
}
