@use "../scss/variables.scss";
.navbar {
  background-color: variables.$dark;
  height: 90px;

  ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
