@use "../../scss/variables.scss";
.navbar {
  background-color: variables.$dark;
  height: 90px;
  border-bottom: 1px solid #919191;
  padding-inline: 10%;
  position: relative;

  .nav__items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__logo {
  a {
    display: flex;
    align-items: center;
  }
}

.nav__center {
  display: none;
  flex-grow: 1;
}

.nav__tabs {
  display: flex;
  gap: 10px;

  li {
    color: white;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;

    &:hover {
      color: variables.$primary;
      cursor: pointer;
    }
  }
}

.nav__logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  @media (min-width: 768px) {
    justify-content: start;
    padding-left: 15px;
  }
}

@media (min-width: 1024px) {
  .nav__logo {
    flex-grow: 0;
  }
  .nav__left {
    display: none;
  }

  .nav__center {
    display: flex;
    justify-content: center;
  }
}
