@use "../../scss/variables.scss";

.number-selector {
  background-color: variables.$gray;
  display: inline-block;
  button {
    width: 48px;
    height: 48px;
    &:hover {
      color: variables.$primary;
    }
  }
}
.number-selector input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  background-color: transparent;
  -moz-appearance: textfield;
  font-size: 13;
  font-weight: bold;
  text-align: center;
  border: none;

  height: 48px;
  width: 48px;
}
