@use "../../scss/variables.scss";

.number-selector {
  background-color: variables.$gray;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
  button {
    aspect-ratio: 1;
    height: 100%;
    &[disabled] {
      cursor: not-allowed;
    }
    &:hover {
      color: variables.$primary;
    }
  }
}
.number-selector input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  flex: 1;
  width: 48px;
  background-color: transparent;
  -moz-appearance: textfield;
  font-size: 13;
  font-weight: bold;
  text-align: center;
  border: none;
}
