@use "../../scss/variables.scss";
.product-categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-category__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 250px;
  position: relative;
}

.product-category__box {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 75%;
  width: 100%;
  max-width: 350px;
  padding-block: 30px;
  border-radius: 1rem;
  background-color: variables.$gray;
}

.product-category__image {
  z-index: 2;
  position: absolute;
  height: 60%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}

@media (min-width: 1024px) {
  .product-category__box {
    max-width: none;
  }
}
@media (min-width: 470px) {
  .product-categories {
    flex-direction: row;
    gap: 10px;
  }
  .product-category__wrapper {
    flex: 1;
  }
}
