.cart-item {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding-inline: 5px;
  .number-elector {
    width: 96px;
    height: 32px;
  }
}

.cart-item__left {
  width: 50%;
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.cart-item__image {
  height: 64px;
  width: 64px;
  border-radius: 5px;
}

.cart-item__right {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.cart-item__name {
  font-weight: bold;
}
.cart-item__price {
  color: rgba($color: #000000, $alpha: 0.5);
  font-weight: bold;
}
